body {
    background-image: url("https://www.travelandleisure.com/thmb/R2kb6GuJwF4wVJhRVevV-FqOVao=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/el-yunque-national-rainforest-tropical-puerto-rico-TROPICALPLANTS0617-d3ccb18a16064e42bdd626cdf7a8cb68.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-size:50px;
    border-style: solid;
    border-width: 2px 2px 5px 2px;
    background-color: beige;
    border-radius: 30px;
    margin: 25px auto 0px auto;
}

#title_paragraph{
    text-align:center;
    font-size:20px;
    border-style: solid;
    border-width: 2px 2px 5px 2px;
    background-color: beige;
    border-radius: 30px;
    width: 50%;
    margin: 15px auto 10px auto;
}

#buttons{
    text-align: center;
    margin: auto;
    border-style:solid;
    border-width: 1px 2px 7px 2px;
    background-color:beige;
    border-radius: 30px;
    padding: 7px;
    width: 25%;
}